@{
    Layout = "~/Views/Shared/_Layout_Account.cshtml";

}

@{

    string language = "ru";

    var Title = "Пароль аккаунта отправлен на ваш телефон и почту";
    var SixDigit = "код из 6 цифр";

    var CreatePW = "Придумайте пароль";
    var ConfirmPW = "Повторите пароль";

    var Confirm = "Подтверждение";
    var MsgError = "Вы ввели неправильный пароль";

    var Warning = "Предупреждение!";







    language = ViewBag.language;

    switch (language)
    {


        case "kz":


            Title = "құпия сөз сіздің телефоныңыз бен поштаңызға жіберілді";
            SixDigit = "6 таңбалы код";

            CreatePW = "Құпиясөзді құру";
            ConfirmPW = "Құпия сөзді қайталаңыз";

            Confirm = "Растау";
            MsgError = "Сіз дұрыс емес құпия сөзді  енгіздіңіз";

            Warning = "Ескерту!";
            break;
    }


}


<div class="container" style="position:absolute">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">
                <div id="login-box-holder">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img src="~/Content/img/logo.png" alt="" />
                                </div>
                            </header>
                            <div id="login-box-inner">


                                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <input type="hidden" value="@ViewBag.userId" name="userId">
                                    <input type="hidden" name="transition" value="@ViewBag.transition">

                                    <span>

                                     @Title

                                    </span>

                                    <div class="input-group" style="margin-top:18px">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>

                                        <input type="password" id="password_1" class="form-control" maxlength="6" placeholder="@SixDigit" name="OldPassword" required>
                                        <span style="cursor:pointer" class="input-group-addon" onclick="showpassword(1)"><i class="fa fa-eye"></i></span>

                                    </div>


                                    <div class="input-group" style="margin-top:18px">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>

                                        <input type="password" id="password_2" class="form-control" minlength="6" placeholder="@CreatePW" name="NewPassword" required>
                                        <span style="cursor:pointer" class="input-group-addon" onclick="showpassword(2)"><i class="fa fa-eye"></i></span>

                                    </div>




                                    <div class="input-group" style="margin-top:18px">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>

                                        <input type="password" id="password_3" class="form-control" minlength="6" placeholder="@ConfirmPW" name="ConfirmPassword" required>

                                        <span style="cursor:pointer" class="input-group-addon" onclick="showpassword(3)"><i class="fa fa-eye"></i></span>
                                    </div>




                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button id="btnsuc" type="submit" class="btn btn-success col-xs-12">@Confirm</button>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-xs-12">

                                            @if (ViewBag.Message == "Error")
                                            {
                                                <div class="alert alert-warning alert-dismissible">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">×</font></font></button>
                                                    <h4><i class="icon fa fa-warning"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Warning</font></font></h4><font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                          @MsgError
                                                        </font><font style="vertical-align: inherit;">

                                                        </font>
                                                    </font>
                                                </div>

                                            }

                                        </div>


                                    </div>




                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<script>
    function showpassword(Id) {
        var x = document.getElementById("password_" + Id);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script> 