
@{
    ViewBag.Title = "buyers";
    ViewBag.Users = "active";
    Layout = "~/Views/Shared/_Layout_portal.cshtml";
}


@section data_table_css{
     <link rel="stylesheet" href="~/Content/portal/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

}




@model  IEnumerable<OnlineCourseZertis.Models.UserInfo>




<section class="content-header">
    <h1>
        Таблица Пользователи
    </h1>




    <ol class="breadcrumb">
        <li><a href="@Url.Action("index","portal")"><i class="fa fa-dashboard"></i> Главная</a></li>

        <li class="active">                    Пользователи</li>
    </ol>

 

</section>
<!-- Main content -->
<section class="content" id="Users-Page">
    <div class="row">

        <div class="col-xs-12">

            <div class="box" style="margin-top:20px">

                <!-- /.box-header -->
                <div class="box-body">
                    
                    <div class="tb_control">

                        <a href="javascript:window.location.href=window.location.href" class="btn btn-success"><i class="fa fa-refresh"></i>  Обновить</a>

                    </div>

                    




                    <table id="data_table" class="table table-bordered table-striped">

                        

                        <thead>
                            <tr>

                                <th>Id</th>
                                <th>Имя </th>
                                <th>Фамилия</th>
                                <th>Время регистрации</th>
                                <th>Тел. Номер</th>
                                <th>Покупка</th>
                                <th>Доступно до</th>
                                @*<th>Удалить</th>*@



                            </tr>
                        </thead>
                        <tbody>


                            @if (Model.Count() > 0)
                            {

                                foreach (var item in Model)
                                {
                                    <tr class="User_@item.Id">


                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.SureName</td>

                                        <td>
                                            
                                         @item.RegTime

                                        </td>

                                        <td>
                                            @item.UserName
                                        </td>

                                        <td>

                                            @{ 
                                                var selectedE = "";
                                                var selectedS = "";
                                                var selectedF = "";

                                                if (item.User_Premium.Count>0) {

                                                    var premium = item.User_Premium.Where(e => e.buy == true);

                                                    if (premium.Count() > 0)
                                                    {
                                                        int max = premium.Max(e => e.PremiumId);

                                                        selectedE = max == 1 ? "selected" : "";
                                                        selectedS = max == 2 ? "selected" : "";
                                                        selectedF = max == 3 ? "selected" : "";
                                                    }


                                                }

                                             }


                                            <select class="selectpicker" id="userpremium_@item.Id">


                                                <option value="0">Не выбран</option>
                                                <option value="1" @selectedE>Zertis Эконом</option>
                                                <option value="2" @selectedS>Zertis Стандарт</option>
                                                <option value="3" @selectedF>Zertis Расширенный</option>
                                            
                                            </select>

                                            <i class="fa fa-floppy-o btn-success btn_save_premium" onclick="SaveUserPremium(@item.Id)"></i>


                                        </td>

                                        <td>
                                           
                                            @if (item.ExpiredVLDate != null)
                                            {
                                                var color = "green";

                                                if (item.Expired == true)
                                                {
                                                    color = "red";
                                                }



                                                <a data-toggle="modal" data-target="#modal-setCompleteTT" style="color:@color" id="a_setCompleteTR_@item.Id" onclick="ChoosedUser(@item.Id,'@item.ExpiredVLDate.Value.ToString("dd.MM.yyyy")')" class="a_setCompleteTR">@item.ExpiredVLDate.Value.ToString("dd.MM.yyyy")</a>

                                            }
                                            else
                                            {
                                                <a data-toggle="modal" id="a_setCompleteTR_@item.Id" data-target="#modal-setCompleteTT" onclick="ChoosedUser(@item.Id)" class="a_setCompleteTR">__.__.____</a>
                                               
                                            }

                                           
                                        </td>

                                        @*<td>



                                            <a class="btn btn-social-icon btn-google" data-toggle="modal" data-target="#modal-default" onclick="ChoosedUser(@item.Id)"><i class="fa fa-trash-o"></i></a>

                                        </td>*@


                                    </tr>

                                                    }

                                                }



                        </tbody>
                        <tfoot>
                            <tr>

                                <th>Id</th>
                                <th>Имя </th>
                                <th>Фамилия</th>
                                <th>Время регистрации</th>
                                <th>Тел. Номер</th>

                                <th>Покупка</th>
                                <th>Доступно до</th>
                                @*<th>Удалить</th>*@

                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>



<input type="hidden" id="ChoosedUserId" />


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Удалить видео</h4>
            </div>
            <div class="modal-body">


                При удалении видео, если есть тест, тесты удаляются. В противном случае измените видео тестов !

            </div>
            <div class="modal-footer">

                <button type="button" data-dismiss="modal" onclick="RemoveUser()" class="btn btn-warning">Удалить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div class="modal fade" id="modal-setCompleteTT">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
         
            </div>
            <div class="modal-body">




                <div class="form-group">

                    <div class="checkbox checkPublish">
                        <input data-val="true" data-val-required="Требуется поле Запомнить меня." id="Limitations" name="Limitations" type="checkbox" value="true">
                        <label for="Limitations">Ограничения</label>
                    </div>

                    <label>Дата</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask id="inpComletedata" name="inpComletedata">
                    </div>
                    <!-- /.input group -->
                </div>
       

            </div>
            <div class="modal-footer">

                <button type="button" data-dismiss="modal" onclick="SetExpiredTR()" class="btn btn-warning">Установить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<script>

    function SaveUserPremium(id) {

        var premiumId = $("#userpremium_" + id).val();


        var dataUP = { Id: id, premiumId: premiumId };

        $.ajax({
            type: 'POST',
            url: "@Url.Action("adduserpremium", "portal")",
            data: dataUP,
        success: function (data) {
            if (data == "success") {

                toastr["success"]("Успешно установлен !");



            }
            else {
                toastr["warning"]("Произошла ошибка  !!!")
            }


        }
    });


    }



    function ChoosedUser(Id,data) {
        $("#ChoosedUserId").val(Id);
        $("#inpComletedata").val(data);
        if (data == undefined) {
            $("#inpComletedata").prop("disabled", true);
            $("#Limitations").prop("checked", false);
        }
        else {
            $("#inpComletedata").prop("disabled", false);
            $("#Limitations").prop("checked",true);

        }

    }


    function RemoveUser() {

        var Id = $("#ChoosedUserId").val();

        $.ajax({
            type: 'POST',
            url: "@Url.Action("removeUser", "portal")",
            data:{Id:Id},
        success: function (data) {
            if (data == "success") {

                toastr["success"]("Пользователь успешно удален !!!");
                $(".User_" + Id).addClass("hidden");


            }
            else {
                toastr["warning"]("Произошла ошибка во время удаления !!!")
            }


        }
    });


    }


    function SetExpiredTR() {

        var Id = $("#ChoosedUserId").val();
        var date = $("#inpComletedata").val();
        var set = $("#Limitations").prop("checked");

        $.ajax({
            type: 'POST',
            url: "@Url.Action("SetExpiredTR", "portal")",
            data: { Id: Id, data: date, set: set },
        success: function (data) {
            if (data == "success") {

                toastr["success"]("Установлена ​​ограниченная дата");
                if (set == true) {
                    $("#a_setCompleteTR_" + Id).html(date);
                }
                else {
                    $("#a_setCompleteTR_" + Id).html("__.__.____");
                }
              
          
            }
            else {
                toastr["warning"]("Произошла ошибка во время установка !")
            }


        }
    });


    }


</script>







@section data_table_js{

    <script src="~/Content/portal/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/portal/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
}

@section data_table{

    $('#data_table').dataTable({

    "language": {
    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
    },


    });
}






